{% extends 'streaming/base.html' %}

{% block title %}
Mi Perfil - Netflix UAX
{% endblock %}

{% block content %}
<h1>Mi Perfil</h1>

<div>
    <p><strong>Nombre de usuario:</strong> {{ profile.user.username }}</p>
    <p><strong>Email:</strong> {{ profile.user.email }}</p>
    <p><strong>Biografía:</strong> {{ profile.bio }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ profile.birth_date }}</p>
    {% if profile.avatar %}
        <p><strong>Avatar:</strong></p>
        <img src="{{ profile.avatar.url }}" alt="Avatar">
    {% else %}
        <p>No hay avatar disponible.</p>
    {% endif %}
</div>

<a href="{% url 'profile-rest' %}">Editar Perfil</a>
{% endblock %}
