<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Netflix UAX{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        nav div img {
            transition: transform 0.3s ease;
        }
    
        nav div img:hover {
            transform: scale(1.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>
    
    
</head>
<body class="bg-dark text-light">
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'streaming:home' %}" class="nav-link">Inicio</a></li>
                <li><a href="{% url 'streaming:movies' %}" class="nav-link">Películas</a></li>
                <li><a href="{% url 'streaming:series' %}" class="nav-link">Series</a></li>
                <li><a href="{% url 'streaming:playlist' %}" class="nav-link">Mi Playlist</a></li>
                
            </ul>
            
            <div style="margin-left: auto; display: flex; align-items: center;">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'authentication:profile' %}" style="margin-right: 10px;">
                        {% if request.user.profile.avatar %}
                            <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" 
                                 style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
                        {% else %}
                            <div style="width: 40px; height: 40px; background-color: #ccc; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                <span style="color: #fff; font-weight: bold; font-size: 1.2rem;">{{ request.user.username|first|upper }}</span>
                            </div>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{% url 'authentication:login' %}" style="color: white; text-decoration: none;">Iniciar Sesión</a>
                {% endif %}
            </div>

        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Netflix UAX. Todos los derechos reservados.</p>
    </footer>
    <!-- Importar el script -->
     
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
