{% extends 'streaming/base.html' %}

{% block title %}
Películas - Netflix UAX
{% endblock %}

{% block content %}
<h1>Películas</h1>

<!-- Sección para mostrar la lista de películas -->
<div class="movies-list">
    {% for movie in movies %}
        <div class="movie-card">
            <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="movie-img">
            <h3 class="movie-title">{{ movie.title }}</h3>
            <p class="movie-description">{{ movie.description|truncatewords:20 }}</p>
            <p class="release-date">Fecha de estreno: {{ movie.release_date|date:"d M Y" }}</p>
            <a href="{% url 'streaming:movie_detail' movie.pk %}" class="btn btn-primary">Ver detalles</a> <!-- Link a los detalles de la película -->
        </div>
    {% empty %}
        <p>No hay películas disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
