{% extends 'streaming/base.html' %}
{% load static %}

{% block title %}
Snake Game - Netflix UAX
{% endblock %}

{% block content %}
<h1 style="text-align: center; color: #e50914;">Snake Game</h1>
<div style="text-align: center; margin-bottom: 10px;">
  
</div>
<div style="text-align: center; margin-bottom: 10px;">
  <label for="foodColorSelector" style="color: white; font-size: 16px;">Color de comida:</label>
  <input id="foodColorSelector" type="color" value="#00ff00" />
</div>
<div id="snake-game-container" style="margin: auto; width: 520px; height: 520px; border: 6px solid #fff; background-color: #000;">
    <canvas id="gameCanvas" width="500" height="500"></canvas>
</div>

<button id="restartButton" style="display: none; margin: 20px auto; display: block; padding: 10px 20px; background-color: #e50914; color: #fff; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">
  Volver a jugar
</button>

<script src="{% static 'snake/js/snake.js' %}"></script>
{% endblock %}
