{% extends 'streaming/base.html' %}
{% load static %}

{% block title %}
Snake Game - Netflix UAX
{% endblock %}

{% block content %}
<h1 style="text-align: center; color: #e50914;">Snake Game</h1>
<div id="snake-game-container" style="display: flex; justify-content: center; align-items: center;">
    <!-- El canvas debe estar definido y tener el ID esperado por el JS -->
    <canvas id="gameCanvas" width="500" height="500" style="border: 2px solid #e50914; background-color: #000;"></canvas>
</div>

<!-- Incluye el archivo JavaScript correctamente -->
<script src="{% static 'snake/js/snake.js' %}"></script>
{% endblock %}
